name: release
on:
  release:
    types: [published]
env:
  TERM: xterm-color
  RELEASE_ARCHIVE: target/toolbox.mk
jobs:
  release:
    permissions:
      packages: write
    name: Release Workflow
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
    - name: Checkout repository
      # This will checkout the release tag ref.
      uses: actions/checkout@v6
      with:
        fetch-depth: 1
    - name: Log into GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Publish Docker image to ghcr.io
      run: make build push push-latest RELEASE_VERSION=${GITHUB_REF#refs/tags/v}
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Pin toolbox.mk
      run: make pin RELEASE_VERSION=${GITHUB_REF#refs/tags/v}
    - name: Upload toolbox.mk
      uses: softprops/action-gh-release@4634c16e79c963813287e889244c50009e7f0981
      with:
        files: ${{ env.RELEASE_ARCHIVE }}
        token: ${{ secrets.GITHUB_TOKEN }}
        repository: seek-oss/toolbox
